#thrive-edit-task-message,
#thrive-add-task-message {
  padding: 10px 20px;
  background-color: #3EA11D;
  color: #FFF;
  margin-bottom: 20px;
  border-radius: 5px;
  display: none;
}

#thrive-edit-task-message.error,
#thrive-add-task-message.error {
	background: #E50C24;
}

#thrive-task-current-page-selector{
	padding: 2.5px 5px;
	margin: 0 5px;
}

#thrive-action-preloader {
	display: inline-block;
	text-align: center;
	width: 100%;
	position: absolute;
	display: none;
}

#thrive-action-preloader span {
	  background: #FFE800;
  color: #8C8A7B;
  padding: 5px 15px;
  display: inline-block;
  margin-top: -5px;
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid #DDCB0D;
}

#thrive-edit-task,
#thrive-add-task {
	padding: 20px;
	background: #eee;
}
.bp-template-notice.error {
  border: 1px solid #DB4B4B;
  color: #DB4B4B;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
}

.thrive-clearfix {
	display: block;
	width: 100%;
	clear: both;
}
.thrive-tabs {
	display: inline-block;
	margin-bottom: -5px;
	width: 100%;
}
.thrive-tabs .thrive-tabs-tabs,
.thrive-tabs .thrive-tabs-content {

}

.thrive-tabs .thrive-tabs-tabs ul{
	margin-top: 0;
	padding-top: 0;
	margin-bottom: -4px;
	display: inline-block;

}

	.thrive-tabs .thrive-tabs-tabs li {
		margin-bottom: -1px;
		margin-right: -1px;
		float: left;
	}

		.thrive-tabs .thrive-tabs-tabs li a {
			color: #444;
			text-decoration: none;
			font-weight: 700;
			display: block;
			border: 1px solid #eee;
			padding: 7.5px 15px;
			outline: 0;
			border-radius: 25px;
		    margin-right: 10px;
		    margin-bottom: 10px;
		}

		.thrive-tabs .thrive-tabs-tabs li.ui-state-active a{
			background: #A00;
			color: #fff;
		}

		#thrive-tasks.thrive-tabs li.ui-state-active a {
			background: #0079BF;
			border-color: #0079BF;
			color: #fff;
		}

			.thrive-tabs .thrive-tabs-tabs li:focus,
			.thrive-tabs .thrive-tabs-tabs li a:focus {
				outline: 0;
				box-shadow: none;
			}

.thrive-tabs .thrive-tabs-content {
}

.thrive-tabs .thrive-tab-item-content {
	display: none;
}

.thrive-tabs .thrive-tab-item-content input[type=text],
.thrive-tabs .thrive-tab-item-content textarea {
	padding: 10px 15px;
	border-radius: 5px;
	margin-bottom: 5px;
}

.thrive-tabs .thrive-tab-item-content.active {
	display: block;
}

.ui-datepicker-header {
  background-color: #000;
  color: #FFF;
  padding: 10px;
}
.ui-datepicker-next {
	float: right;
}
.ui-datepicker-header a{
  color: #FFF;
}
.ui-datepicker-title {
	font-size: 18px;
	padding: 20px;
	text-align: center;
}

#thrive-tasks-filter {
	margin-bottom: 10px;
	display: inline-block;
	width: 100%;
}

.thrive-search-box {
	margin-top: 0;
	margin-bottom: 0;
}

#ui-datepicker-div table { background: #fff; box-shadow: 1px 1px 15px #eee;}
#ui-datepicker-div table thead td{ color: #fff; background: #121212; padding: 5px; }
#ui-datepicker-div table td{ background: #fff; padding: 10px; }
#ui-datepicker-div table td a{ text-decoration: none; font-weight: bold; }

#thrive-core-functions-render-task tr.normal   strong a{color: #088399;}
#thrive-core-functions-render-task tr.high     strong a{color: #B2A633;}
#thrive-core-functions-render-task tr.critical strong a{color: #A91515;}

#thrive-core-functions-render-task tr.completed strong a{
	text-decoration: line-through;
	opacity: 0.70;
	color: #0A911B;
}

#thrive-core-functions-render-task tr td {
	position: relative;
}

#thrive-core-functions-render-task tr .row-actions,
#thrive-core-functions-render-task tr strong a {
	padding-left: 25px;
	display: block;
}
#thrive-core-functions-render-task tr strong a:before {
	content: "\f159";
	font-family: 'dashicons';
	position: absolute;
	left: 15px;
	top: 10px;
}

#thrive-core-functions-render-task tr.completed strong a:before {
	content: "\f147";
}