#task_breaker-edit-task-message,
#task_breaker-add-task-message {
	padding: 10px 20px;
	background-color: #3EA11D;
	color: #FFF;
	margin-bottom: 20px;
	border-radius: 5px;
	display: none;
}

#task_breaker-edit-task-message.error,
#task_breaker-add-task-message.error {
	background: #E50C24;
}

#task_breaker-task-current-page-selector{
	padding: 2.5px 5px;
	margin: 0 5px;
}

#task_breaker-action-preloader {
	display: inline-block;
	text-align: center;
	width: 100%;
	position: absolute;
	display: none;
}

#task_breaker-action-preloader span {
	  background: #FFE800;
	color: #8C8A7B;
	padding: 5px 15px;
	display: inline-block;
	margin-top: -5px;
	border-radius: 5px;
	font-weight: bold;
	border: 1px solid #DDCB0D;
}

#task_breaker-edit-task,
#task_breaker-add-task {
	padding: 20px;
	background: #eee;
}
.bp-template-notice.error {
	border: 1px solid #DB4B4B;
	color: #DB4B4B;
	font-weight: bold;
	padding: 10px 15px;
	border-radius: 5px;
	font-size: 16px;
}

.task_breaker-clearfix {
	display: block;
	width: 100%;
	clear: both;
}
.task_breaker-tabs {
	display: inline-block;
	margin-bottom: -5px;
	width: 100%;
}
.task_breaker-tabs .task_breaker-tabs-tabs,
.task_breaker-tabs .task_breaker-tabs-content {

}

.task_breaker-tabs .task_breaker-tabs-tabs ul{
	margin-top: 0;
	padding-top: 0;
	margin-bottom: -4px;
	display: inline-block;

}

	.task_breaker-tabs .task_breaker-tabs-tabs li {
		margin-bottom: -1px;
		margin-right: -1px;
		float: left;
	}

		.task_breaker-tabs .task_breaker-tabs-tabs li a {
			color: #444;
			text-decoration: none;
			font-weight: 700;
			display: block;
			border: 1px solid #eee;
			padding: 7.5px 15px;
			outline: 0;
			border-radius: 25px;
			margin-right: 10px;
			margin-bottom: 10px;
		}

		.task_breaker-tabs .task_breaker-tabs-tabs li.ui-state-active a{
			background: #A00;
			color: #fff;
		}

		#task_breaker-tasks.task_breaker-tabs li.ui-state-active a {
			background: #0079BF;
			border-color: #0079BF;
			color: #fff;
		}

			.task_breaker-tabs .task_breaker-tabs-tabs li:focus,
			.task_breaker-tabs .task_breaker-tabs-tabs li a:focus {
				outline: 0;
				box-shadow: none;
			}

.task_breaker-tabs .task_breaker-tabs-content {
}

.task_breaker-tabs .task_breaker-tab-item-content {
	display: none;
}

.task_breaker-tabs .task_breaker-tab-item-content input[type=text],
.task_breaker-tabs .task_breaker-tab-item-content textarea {
	padding: 10px 15px;
	border-radius: 5px;
	margin-bottom: 5px;
}

.task_breaker-tabs .task_breaker-tab-item-content.active {
	display: block;
}

.ui-datepicker-header {
	background-color: #000;
	color: #FFF;
	padding: 10px;
}
.ui-datepicker-next {
	float: right;
}
.ui-datepicker-header a{
	color: #FFF;
}
.ui-datepicker-title {
	font-size: 18px;
	padding: 20px;
	text-align: center;
}

#task_breaker-tasks-filter {
	margin-bottom: 10px;
	display: inline-block;
	width: 100%;
}

.task_breaker-search-box {
	margin-top: 0;
	margin-bottom: 0;
}

#ui-datepicker-div table { background: #fff; box-shadow: 1px 1px 15px #eee;}
#ui-datepicker-div table thead td{ color: #fff; background: #121212; padding: 5px; }
#ui-datepicker-div table td{ background: #fff; padding: 10px; }
#ui-datepicker-div table td a{ text-decoration: none; font-weight: bold; }

#task_breaker-core-functions-render-task tr.normal   strong a{color: #088399;}
#task_breaker-core-functions-render-task tr.high     strong a{color: #B2A633;}
#task_breaker-core-functions-render-task tr.critical strong a{color: #A91515;}

#task_breaker-core-functions-render-task tr.completed strong a{
	text-decoration: line-through;
	opacity: 0.70;
	color: #0A911B;
}

#task_breaker-core-functions-render-task tr td {
	position: relative;
}

#task_breaker-core-functions-render-task tr .row-actions,
#task_breaker-core-functions-render-task tr strong a {
	padding-left: 25px;
	display: block;
}
#task_breaker-core-functions-render-task tr strong a:before {
	content: "\f159";
	font-family: 'dashicons';
	position: absolute;
	left: 15px;
	top: 10px;
}

#task_breaker-core-functions-render-task tr.completed strong a:before {
	content: "\f147";
}
