/**
 * Load Awesome CSS
 * @package Ball Clip Rotate
 */
.la-ball-clip-rotate {
	position: relative;
}

.la-ball-clip-rotate > div {
	position: relative;
	-webkit-box-sizing: content-box;
	   -moz-box-sizing: content-box;
			box-sizing: content-box;
	color: #fff;
	background: #fff;
	border-color: #333;
	border-style: solid;
	border-width: 0;
}
.la-ball-clip-rotate:after {
	display: table;
	line-height: 0;
	clear: both;
	content: "";
}
.la-ball-clip-rotate.la-dark > div {
	color: #444;
	background: #444;
	border-color: #444;
}

/*
 * Animation
 */
@-webkit-keyframes ball-clip-rotate {
	0% {
		-webkit-transform: rotate(0deg);
				transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(180deg);
				transform: rotate(180deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
				transform: rotate(360deg);
	}
}
@-moz-keyframes ball-clip-rotate {
	0% {
		-moz-transform: rotate(0deg);
			 transform: rotate(0deg);
	}
	50% {
		-moz-transform: rotate(180deg);
			 transform: rotate(180deg);
	}
	100% {
		-moz-transform: rotate(360deg);
			 transform: rotate(360deg);
	}
}
@-o-keyframes ball-clip-rotate {
	0% {
		-o-transform: rotate(0deg);
		   transform: rotate(0deg);
	}
	50% {
		-o-transform: rotate(180deg);
		   transform: rotate(180deg);
	}
	100% {
		-o-transform: rotate(360deg);
		   transform: rotate(360deg);
	}
}
@keyframes ball-clip-rotate {
	0% {
		-webkit-transform: rotate(0deg);
		   -moz-transform: rotate(0deg);
			 -o-transform: rotate(0deg);
				transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(180deg);
		   -moz-transform: rotate(180deg);
			 -o-transform: rotate(180deg);
				transform: rotate(180deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		   -moz-transform: rotate(360deg);
			 -o-transform: rotate(360deg);
				transform: rotate(360deg);
	}
}
.la-ball-clip-rotate {
	width: 32px;
	height: 32px;
}
.la-ball-clip-rotate > div {
	display: inline-block;
	width: 28px;
	height: 28px;
	margin: 0;
	float: left;
	background: transparent !important;
	border-style: solid;
	border-width: 2px;
	border-bottom-color: transparent !important;
	border-radius: 100%;
	-webkit-animation: ball-clip-rotate .75s linear infinite;
	   -moz-animation: ball-clip-rotate .75s linear infinite;
		 -o-animation: ball-clip-rotate .75s linear infinite;
			animation: ball-clip-rotate .75s linear infinite;
}
.la-ball-clip-rotate.la-sm {
	width: 16px;
	height: 16px;
}
.la-ball-clip-rotate.la-sm > div {
	width: 14px;
	height: 14px;
	margin: 0;
	border-width: 1px;
}
.la-ball-clip-rotate.la-lg {
	width: 48px;
	height: 48px;
}
.la-ball-clip-rotate.la-lg > div {
	width: 42px;
	height: 42px;
	margin: 0;
	border-width: 3px;
}
.la-ball-clip-rotate.la-2x {
	width: 64px;
	height: 64px;
}
.la-ball-clip-rotate.la-2x > div {
	width: 56px;
	height: 56px;
	margin: 0;
	border-width: 4px;
}
/**
 * Load Awesome CSS End
 */

/*
 * Animation
 */
@-webkit-keyframes ball-clip-rotate-multiple-rotate {
	0% {
		-webkit-transform: rotate(0deg);
				transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(180deg);
				transform: rotate(180deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
				transform: rotate(360deg);
	}
}
@-moz-keyframes ball-clip-rotate-multiple-rotate {
	0% {
		-moz-transform: rotate(0deg);
			 transform: rotate(0deg);
	}
	50% {
		-moz-transform: rotate(180deg);
			 transform: rotate(180deg);
	}
	100% {
		-moz-transform: rotate(360deg);
			 transform: rotate(360deg);
	}
}
@-o-keyframes ball-clip-rotate-multiple-rotate {
	0% {
		-o-transform: rotate(0deg);
		   transform: rotate(0deg);
	}
	50% {
		-o-transform: rotate(180deg);
		   transform: rotate(180deg);
	}
	100% {
		-o-transform: rotate(360deg);
		   transform: rotate(360deg);
	}
}
@keyframes ball-clip-rotate-multiple-rotate {
	0% {
		-webkit-transform: rotate(0deg);
		   -moz-transform: rotate(0deg);
			 -o-transform: rotate(0deg);
				transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(180deg);
		   -moz-transform: rotate(180deg);
			 -o-transform: rotate(180deg);
				transform: rotate(180deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		   -moz-transform: rotate(360deg);
			 -o-transform: rotate(360deg);
				transform: rotate(360deg);
	}
}

/**
 * ======
 */
.clearfix{
	clear: both;
}
.hide {
	display: none;
}

#task_breaker-modal-close {
	cursor: pointer;
	color: #fff;
}

#task_breaker-project .html-active .switch-html,
#task_breaker-project .tmce-active .switch-tmce,
#task_breaker-project .mce-toolbar .mce-btn button,
#task_breaker-project .qt-dfw,
#task_breaker-project .wp-core-ui .quicktags-toolbar input.button.button-small,
#task_breaker-project .wp-switch-editor{
	box-shadow: none;
	border-radius: 0;
}

#task_breaker-project .html-active .switch-html:hover,
#task_breaker-project .tmce-active .switch-tmce:hover,
#task_breaker-project .mce-toolbar .mce-btn button:hover,
#task_breaker-project .qt-dfw:hover,
#task_breaker-project .wp-core-ui .quicktags-toolbar input.button.button-small:hover,
#task_breaker-project .wp-switch-editor:hover {
	background: #f7f7f7;
	color: #333;
}

#task_breaker-project .wp-editor-area,
#task_breaker-project div.mce-panel {
	border: 0 solid #ddd;
	background: #f5f5f5;
}

#task_breaker-project div.mce-toolbar-grp {
	background: #fff;
}

#task_breaker-project div.mce-toolbar-grp>div {
	padding: 10px;
}

#task_breaker-preloader{
	display: none;
	position: absolute;
	  z-index: 10;
	  left: 49%;
	  top: 49%;
}
#task_breaker-project-tab-li {
	padding-left: 0;
	width: 100%;
	display: inline-block;
	margin: 0 0 -6px 0;
}

#task_breaker-project-tab-li li {
	list-style: none;
	display: inline-block;
	margin: 0;
	float: left;
	margin-right: -1px;
}

#task_breaker-project-tab-li li a {
	padding: 10px 20px;
	background: #eee;
	border:1px solid #ddd;
	display: block;
}

#task_breaker-project-tab-li li a#task_breaker-project-edit-tab {
	display: none;
}

#task_breaker-project-tab-li li.active a {
	background: #fff;
	position: relative;
	border-bottom: 0;
	z-index: 2;
	margin-bottom: -1px;
	border-top: 1px solid;
}

#task_breaker-project-tab-li li:last-child a{
	border-right: 1px solid #ddd;
}

#task_breaker-project-tab-li li a#task_breaker-project-add-new {
	display: none;
}

/**
 * Tab Contents
 */
#task_breaker-project-tab-content {
	position: relative;
}

#task_breaker-project-tab-content .wp-switch-editor {
	height: auto;
	padding: 10px 15px;
	margin: 0;
}

#task_breaker-project-tab-content .tmce-active .wp-switch-editor.switch-tmce {
	background: #fff!important;
	border-bottom: 0 none;
}

#task_breaker-project-tab-content * {
	box-sizing: border-box;
}

#task_breaker-project-tab-content .task_breaker-project-tab-content-item {
	background: #fff;
	padding: 25px;
	border: 1px solid #ddd;
	width: 100%;
	display: none;
}

#task_breaker-project-tab-content .task_breaker-project-tab-content-item.active {
	display: block;
}

#task_breaker-project-tasks li.task_breaker-task-item {
	border-bottom: 1px solid #EEE;
	padding: 15px 0;
}

#task_breaker-project-tasks li.task_breaker-task-discussion {
	margin: 0;
	padding: 0;
}

#task_breaker-project-tasks li.task_breaker-task-discussion  h3 {
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: normal;
}

#task_breaker-project-tasks ul.task_breaker-task-item-details:after {
	content: " ";
	display: block;
	clear: both;
	width: 100%;
}

#task_breaker-project-tasks ul.task_breaker-task-item-details li {
	list-style: none;
	margin-bottom: 0;
	display: table-cell;
	vertical-align: middle;
}


/**
 * Meta
 */
.single-project .type-project .entry-footer {
	display: none;
}

.single-project #task_breaker-task-current-page-selector {
	display: inline-block;
	width: 25px;
	height: 25px;
	text-align: center;
	padding: 0 5px;
	margin: 0 5px;

}

.single-project #task_breaker-project-tasks h3 {
	font-size: 14px;
	font-weight: normal;
	line-height: 1.3;
}

.single-project #task_breaker-project-tasks ul {
	padding-left: 0;
	margin-left: 0;
	display: table;
	width: 100%;
	margin-bottom: 0;
}

.single-project #task_breaker-project-tasks ul li.task_breaker-task-item:hover{
	background: #F7F7F7;
}

.single-project #task_breaker-project-tasks ul li .task-user-name {
	position: absolute;
	background: #333;
	color: #fff;
	padding: 0 10px;
	border-radius: 5px;
	left: 95px;
	top: 5px;
	display: inline-table;
	z-index: 2;
	opacity: 0;
	text-align: center;

	transition: opacity 0.25 ease-in-out;
	-moz-transition: opacity 0.25 ease-in-out;
	-webkit-transition: opacity 0.25 ease-in-out;
}



.single-project #task_breaker-single-task-details .task-content-meta {
	padding-top: 15px;
	border-top: 2px dashed rgba(0, 0, 0, 0.1);
}

.single-project #task_breaker-single-task-details .task-content {
	padding: 0 0 15px;
}

.single-project #task_breaker-single-task-details .task-members h5 {
	font-size: 14px;
}

.single-project #task_breaker-project-tasks ul li .task-user img.avatar {
	border-radius: 50%;
	height: auto;
	width: auto;
}

.single-project .task_breaker-tabs-tabs ul {
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 100%;
	margin-bottom: 25px;
}

.single-project .task_breaker-tabs-tabs ul li {
	float: left;
	list-style: none;
	margin-right: 10px;
}

.single-project .task_breaker-tabs-tabs ul li a {
    display: table-cell;
    border: 1px solid;
    margin-right: 15px;
    border-radius: 4px;
    height: 40px;
    vertical-align: middle;
    padding: 0 10px;
}

.single-project li#task_breaker-task-add-tab a {
	padding-right: 15px;
}

.single-project .task_breaker-tabs-tabs ul li a.active {
	color: #4B933E;
}

.single-project .task_breaker-tabs-tabs ul li a .dashicons {
	font-size: 20px;
	padding-top: 0.5px;
}

.single-project #task_breaker-project-tasks ul li .task-user {
	position: relative;
}

.single-project #task_breaker-project-tasks ul li .task-user:hover .task-user-name {
	opacity: 1;
}
.single-project #task_breaker-project-tasks ul li.task_breaker-task-item {
	list-style: none;
	margin-bottom: 0;
}

.single-project #task_breaker-project-tasks ul li.priority {
	width: 10%;
	margin-right: 2%;
	min-width: 70px;
}
	.task-priority,
	.single-project #task_breaker-project-tasks ul li.priority span {
		background-color: #4CAF50;
		font-size: 12px;
		color: #FFF;
		display: block;
		padding: 2.5px 10px;
		border-radius: 0;
		text-align: center;
	}

	.task-priority.high,
	.single-project #task_breaker-project-tasks li.high ul .priority span {
		background: #FB8C00;
	}

	.task-priority.critical,
	.single-project #task_breaker-project-tasks li.critical ul .priority span {
		background: #f44336;
	}

	 
	.task-priority ,
	.task-status {
     	padding: 12px 10px 11px;
	    display: inline-block;
	    margin-bottom: 15px;
	    font-size: 11px;
	    text-transform: uppercase;
	    border-radius: 10px;
	    line-height: 1px;
	}

	.task-status.completed {
		background: #FF5722;
		color: #fff;
	}

	.task-status.open {
		background: #3F51B5;
		color: #fff;
	}

.single-project #task_breaker-project-tasks ul li.details {
	padding-left: 20px;
}

.single-project #task_breaker-project-tasks ul li.details h3 {
	margin: 0;
}

.single-project #task_breaker-project-tasks ul li.last-user-update {
	width: 35%;
	text-align: right;
}

.single-project #task_breaker-project-tasks h3 a {
	color: #4B933E;
}

/**
 * Navigation
 */
#task_breaker-task-paging {
	margin: 15px 0 0 0;
	display: block;
}
.single-project #task_breaker-project-tasks #task_breaker-task-paging .next-page,
.single-project #task_breaker-project-tasks #task_breaker-task-paging .prev-page {
	padding: 10px;
	text-decoration: none;
}

/**
 * Filters
 */
.single-project #task_breaker-project #task_breaker-tasks-filter{
	display: inline-block;
	width: 100%;
}

.single-project #task_breaker-project .screen-reader-text {
	height: 0;
	display: block;
	position: absolute;
	z-index: -2;
}

.single-project #task_breaker-project #task_breaker-tasks-filter .alignleft,
.single-project #task_breaker-project #task_breaker-tasks-filter .alignright {
	width: 50%;
	margin: 0;
}
.single-project #task_breaker-project #task_breaker-tasks-filter #task_breaker-task-search-field {
	width: 100%;
	border: 1px solid #EEE;
	border-radius: 4px;
	padding: 7.5px 20px;
	line-height: 1.3em;
	box-sizing: border-box;
}

.single-project  img.avatar {
	max-width: 100%;
	height: auto;
}
.single-project #task_breaker-project #task_breaker-tasks-filter #task_breaker-task-search-submit {
	float: left;
	width: 30%;
	margin-left: 5%;
}

/**
 * Single View
 */
#task_breaker-single-task h2 {
	line-height: 1.3;
	font-weight: normal;
	font-size: 24px;
}


#task_breaker-single-task .task-content ul,
#task_breaker-single-task .task-content ol {
	padding-left: 0;
}

#task_breaker-single-task .task-content ol li,
#task_breaker-single-task .task-content ul li {
	padding: 0;
	padding-left: 0;
	list-style: disc;
	margin: 5px 0 5px 20px;
}

#task_breaker-single-task .task-content ol li ol li,
#task_breaker-single-task .task-content ol li ul li,
#task_breaker-single-task .task-content ul li ol li,
#task_breaker-single-task .task-content ul li ul li{
	margin-left: 3em;
}

#task_breaker-single-task .task-content ol li {
	list-style: decimal;
}

	#task_breaker-single-task li {
		padding: 35px 0;
		list-style: none;
	}

	#task_breaker-single-task li.comment {
		padding-left: 25px;
		padding-right: 25px;
		background-color: #F7F7F7;
		margin-bottom: 0;
		border-bottom: 1px solid #E7E7E7;
	}

	#task_breaker-single-task li:last-child {
		border-bottom: 0;
	}

.task-meta {
    font-size: 12px;
    padding: 5px 0;
    border-bottom: 1px solid #0a0606;
    margin-bottom: 20px;
}
	.task-meta p {
		margin-bottom: 0;
		margin-top: 0;
	}

		.task-meta .opened-by {
			font-weight: bold;
		}

		.task-meta .added-on {
			float: right;
		}
.task-update-owner {
	float: left;
	width: 10%;
	margin-right: 2.5%;
}
.task-update-details {
	float: left;
	width: 87.5%;
}

.task-update-details .task-content p{
	margin-bottom: 0;
	margin: 5px 0;
}
/**
 * Task Editor
 */
#task-editor {
    border: 1px solid #EEE;
    background: #eee;
    padding: 0 25px 25px 25px;
}

	#task-editor label[for=ticketStatusInProgress] {
		margin-right: 10px;
	}

	#task-editor #task-comment-content {
		background: #fff;
		margin-bottom: 0;
		padding: 12px 15px;
	    border: 1px solid #ddd;
	    height: 85px;
	    width: 100%;
	}

	.task_breaker-edit-comment,
	.task_breaker-delete-comment {
		color: #F44336;
		font-size: 80%;
		font-weight: bold;
	}

	.task_breaker-edit-comment {
		color: #d8d8d8;
	}

/**
 * Task At A Glance
 */

#task_breaker-dashboard-at-a-glance ul {
	margin: 0;
	padding: 0;
}

#task_breaker-dashboard-at-a-glance ul li {
	text-align: center;
	float: left;
	padding: 0;
	margin: 0;
	width: 30%;
	margin-right: 5%;
	list-style: none;
}

#task_breaker-dashboard-at-a-glance ul li:nth-child(3n) {
	margin-right: 0;
}

#task_breaker-dashboard-at-a-glance ul li .task_breaker-dashboard-at-a-glance-box {
	border: 1px solid #ddd;
	margin: 20px 0 35px;
	padding: 25px 0;
	display: block;
	border-radius: 4px;
	background-color: #f9f9f9;
}

.task_breaker-dashboard-at-a-glance-box h4 {
    font-size: 48px;
    margin-bottom: 0;
}

/**
 * Single
 */
#task_breaker-project .group-avatar {
	float: left;
	width: 5%;
}

	#task_breaker-project .group-avatar img {
		border-radius: 50%;
		max-width: 100%;
	}

#task_breaker-project .group-details {
	width: 95%;
	float: left;
	padding: 0 20px;
}

#task_breaker-project #task_breaker-single-project-group-details {
	display: inline-block;
	width: 100%;
	margin-bottom: 15px;
}

/**
 * Projects Archive
 */

#task_breaker-intranet-projects ul#task_breaker-projects-lists,
#task_breaker-intranet-projects ul#task_breaker-projects-lists li,
#task_breaker-intranet-projects ul.task_breaker-project-meta-stats {
	padding: 0;
	margin: 0;
	list-style: none;
}

#task_breaker-intranet-projects ul#task_breaker-projects-lists li.type-project {
    margin-bottom: 5px;
    padding: 25px;
    background: #fff;
    border: 1px solid #ddd;
}

#task_breaker-intranet-projects ul#task_breaker-projects-lists li.type-project .task_breaker-project-title h3 {
	margin: 0;
	padding: 0;
	font-size: 16px;
	margin-bottom: 5px;
}

#task_breaker-intranet-projects ul#task_breaker-projects-lists li.type-project img.avatar {
	border-radius: 50%;
	max-width: 32px;
	height: auto;
	display: inline;
	vertical-align: middle;
}

.task_breaker-project-meta .task-progress {
	display: block;
	width: 100%;
	position: relative;
	margin: 40px 0 0 0;
}

.task_breaker-project-excerpt {
	margin-top: 15px;
	opacity: 0.87;
	font-size: 13px;
}

.task_breaker-project-meta .task-progress-task-count {
	display: inline-block;
	text-align: center;
	position: absolute;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	background: #616161;
	color: #fff;
	padding: 5px 10px;
	border-radius: 4px;
}

	.task_breaker-project-meta .task-progress-task-count {
		position: relative;
		background: #616161;
		border: 1px solid #616161;
	}
		.task_breaker-project-meta .task-progress-task-count:after, .task_breaker-project-meta .task-progress-task-count:before {
			top: 100%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}

			.task_breaker-project-meta .task-progress-task-count:after {
				border-color: rgba(68, 68, 68, 0);
				border-top-color: #616161;
				border-width: 5px;
				margin-left: -5px;
			}
				.task_breaker-project-meta .task-progress-task-count:before {
					border-color: rgba(0, 0, 0, 0);
					border-top-color: #616161;
					border-width: 6px;
					margin-left: -6px;
				}

.task_breaker-project-meta .task-progress-task-count-wrap {
	position: absolute;
	top: -40px;
	min-width: 100px;
}
.task_breaker-project-meta .task-progress-bar {
    background: #E0E0E0;
    border-radius: 4px;
}

.task_breaker-project-meta .task-progress-percentage {
    background: #03A9F4;
    position: relative;
    color: #ffffff;
    display: block;
    padding: 1.5px 5px;
}

.task-progress-percentage-label {
	padding-right: 15px;
	font-size: 12px;
	min-width: 125px;
}
.task-progress-percentage-label > span {
	min-width: 80px;
	display: block;
}
/**
 * Modal
 */

#task_breaker-new-project-modal {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.25);
	display: none;
}

#task_breaker-new-project-modal #task_breaker-modal-content {
	padding: 25px;
	background: #fff;
	box-shadow: 0 1.5px 1px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.12);
	width: 100%;
	max-width: 500px;
	margin: 30px auto;
	position: relative;
	top: 200px;
	opacity: 0;
	transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.675s ease-in-out;
}

#task_breaker-new-project-modal #task_breaker-modal-content.active {
	opacity: 1;
	top: 25px;
}

#task_breaker-modal-heading {
	background-color: #03A9F4;
	margin: -25px -25px 25px -25px;
	padding: 15px 25px;
}
	#task_breaker-modal-heading h5 {
		color: #fff;
	}

#task_breaker-modal-heading  #task_breaker-modal-close,
#task_breaker-modal-heading  h5{
	margin: 0;
	padding: 0;
}

.task_breaker-login-lost-password {
	display: block;
	float: right;
	margin: 0;
}

.task_breaker-notifier {
	display: block;
}
	.task_breaker-notifier p {
		background: #FFFDE7;
		padding: 10px 15px;
		display: block;
	}
		.task_breaker-notifier p a {
			text-decoration: underline;
		}

		.task_breaker-notifier p.success {
			background: #689F38;
			color: #fff;
		}

			.task_breaker-notifier p.success a {
				color: #fff;
			}

		.task_breaker-notifier p.error {
			background: #BF360C;
			color: rgba(255, 255, 255, 0.870588);
		}
			.task_breaker-notifier p.error a {
				rgba(255, 255, 255, 0.870588);
			}

.task_breaker-form-field {
	margin: 15px 0;
	position: relative;
}

.task_breaker-form-field textarea#task_breaker-project-content,
.task_breaker-form-field textarea {
	padding-top: 7.5px;
	padding-bottom: 5px;
}

.task_breaker-form-field label[for=task_breaker-task-priority-select] {
	padding: 10px 15px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    display: block;
    margin: 0;
}

.task_breaker-form-field span.description {
    font-size: 13px;
    margin: 15px 0 20px 0;
    display: block;
}

#task_breaker-task-priority-update-select,
#task_breaker-task-priority-select,
#task_breaker-task-edit-select-id {
	margin-bottom: 0;
	background-color: transparent;
}

.task_breaker-task-count {
	background: #FF5722;
	color: #FFF;
	display: inline-block;
	font-size: 11px;
	text-align: center;
	padding: 0 2.5px 0 2.5px;
	border-radius: 20px;
	margin-left: 5px;
	position: relative;
	min-width: 25px;
	min-height: 25px;
	line-height: 25px;
}

/**
 * Select 2 Styles
 */
	/** Added **/
	select#task-user-assigned-edit,
	select#task-user-assigned {
	 width: 100%;
	 max-width: 100%;
	}

	.result-template-avatar {
	 width: 32px;
	 margin-right: 10px;
	 position: relative;
	 float: left;
	}

	.select2-results__option span{
	 display: inline-block;
	 width: 100%;
	}
	/**Added **/

	.select2-container {
	box-sizing: border-box;
	display: inline-block;
	margin: 0;
	position: relative;
	vertical-align: middle; }
	.select2-container .select2-selection--single {
	 box-sizing: border-box;
	 cursor: pointer;
	 display: block;
	 height: 28px;
	 user-select: none;
	 -webkit-user-select: none; }
	 .select2-container .select2-selection--single .select2-selection__rendered {
	   display: block;
	   padding-left: 8px;
	   padding-right: 20px;
	   overflow: hidden;
	   text-overflow: ellipsis;
	   white-space: nowrap; }
	 .select2-container .select2-selection--single .select2-selection__clear {
	   position: relative; }
	.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
	 padding-right: 8px;
	 padding-left: 20px; }
	.select2-container .select2-selection--multiple {
	 box-sizing: border-box;
	 cursor: pointer;
	 display: block;
	 min-height: 32px;
	 user-select: none;
	 -webkit-user-select: none; }
	 .select2-container .select2-selection--multiple .select2-selection__rendered {
	   display: inline-block;
	   overflow: hidden;
	   padding-left: 8px;
	   text-overflow: ellipsis;
	   white-space: nowrap; }
	.select2-container .select2-search--inline {
	 float: left;
	 margin: 0;
	 line-height: 0;
	 list-style: none;
	}
	 .select2-container .select2-search--inline .select2-search__field {
	   box-sizing: border-box;
	   border: none;
	   font-size: 100%;
	   margin-top: 5px;
	   padding: 0; }
	   .select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
		 -webkit-appearance: none; }

	.select2-dropdown {
	background-color: white;
	border: 1px solid rgba(0,0,0,0.12);
	border-radius: 4px;
	box-sizing: border-box;
	display: block;
	position: absolute;
	left: -100000px;
	width: 100%;
	z-index: 1051; }

	.select2-results {
	display: block; }

	.select2-results__options {
	list-style: none;
	margin: 0;
	padding: 0; }

	.select2-results__option {
	padding: 5px;
	user-select: none;
	margin: 0;
	-webkit-user-select: none; }
	.select2-results__option[aria-selected] {
	 cursor: pointer; }

	.select2-container--open .select2-dropdown {
	left: 0; }

	.select2-container--open .select2-dropdown--above {
	border-bottom: none;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0; }

	.select2-container--open .select2-dropdown--below {
	border-top: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0; }

	.select2-search--dropdown {
	display: block;
	padding: 4px; }
	.select2-search--dropdown .select2-search__field {
	 padding: 4px;
	 width: 100%;
	 box-sizing: border-box; }
	 .select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
	   -webkit-appearance: none; }
	.select2-search--dropdown.select2-search--hide {
	 display: none; }

	.select2-close-mask {
	border: 0;
	margin: 0;
	padding: 0;
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	min-height: 100%;
	min-width: 100%;
	height: auto;
	width: auto;
	opacity: 0;
	z-index: 99;
	background-color: #fff;
	filter: alpha(opacity=0); }

	.select2-hidden-accessible {
	border: 0 !important;
	clip: rect(0 0 0 0) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important; }

	.select2-container--default .select2-selection--single {
	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 4px; }
	.select2-container--default .select2-selection--single .select2-selection__rendered {
	 color: #444;
	 line-height: 28px; }
	.select2-container--default .select2-selection--single .select2-selection__clear {
	 cursor: pointer;
	 float: right;
	 font-weight: bold; }
	.select2-container--default .select2-selection--single .select2-selection__placeholder {
	 color: #999; }
	.select2-container--default .select2-selection--single .select2-selection__arrow {
	 height: 26px;
	 position: absolute;
	 top: 1px;
	 right: 1px;
	 width: 20px; }
	 .select2-container--default .select2-selection--single .select2-selection__arrow b {
	   border-color: #888 transparent transparent transparent;
	   border-style: solid;
	   border-width: 5px 4px 0 4px;
	   height: 0;
	   left: 50%;
	   margin-left: -4px;
	   margin-top: -2px;
	   position: absolute;
	   top: 50%;
	   width: 0; }

	.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
	float: left; }

	.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
	left: 1px;
	right: auto; }

	.select2-container--default.select2-container--disabled .select2-selection--single {
	background-color: #eee;
	cursor: default; }
	.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
	 display: none; }

	.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
	border-color: transparent transparent #888 transparent;
	border-width: 0 4px 5px 4px; }

	.select2-container--default .select2-selection--multiple {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 0;
	cursor: text; }
	.select2-container--default .select2-selection--multiple .select2-selection__rendered {
	 box-sizing: border-box;
	 list-style: none;
	 margin: 0;
	 padding: 0 15px;
	 width: 100%; }
	.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
	 color: #999;
	 margin-top: 5px;
	 float: left; }
	.select2-container--default .select2-selection--multiple .select2-selection__clear {
	 cursor: pointer;
	 float: right;
	 font-weight: bold;
	 margin-top: 5px;
	 margin-right: 10px; }
	.select2-container--default .select2-selection--multiple .select2-selection__choice {
	   background-color: #FFEB3B;
	border: 1px solid #FFC107;
	border-radius: 4px;
	cursor: default;
	list-style: none;
	float: left;
	margin: 7.5px 7.5px 0 0;
	font-size: 12px;
	padding: 5px;
	color: #607D8B;}
	.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	 color: #999;
	 cursor: pointer;
	 display: inline-block;
	 font-weight: bold;
	 margin-right: 2px; }
	 .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
	   color: #333; }

	.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {
	float: right; }

	.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
	margin-left: 5px;
	margin-right: auto; }

	.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
	margin-left: 2px;
	margin-right: auto; }

	.select2-container--default.select2-container--focus .select2-selection--multiple {
	border: 1px solid rgba(0, 0, 0, 0.12);
	outline: 0; }

	.select2-container--default.select2-container--disabled .select2-selection--multiple {
	background-color: #eee;
	cursor: default; }

	.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
	display: none; }

	.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
	border-top-left-radius: 0;
	border-top-right-radius: 0; }

	.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0; }

	.select2-container--default .select2-search--dropdown .select2-search__field {
	border: 1px solid #aaa; }

	.select2-container--default .select2-search--inline .select2-search__field {
	background: transparent;
	border: none;
	width: 200px!important;
	outline: 0;
	box-shadow: none;
	margin: 0;
	padding: 3.5px 0;
	-webkit-appearance: textfield; }

	.select2-container--default .select2-results > .select2-results__options {
	max-height: 200px;
	overflow-y: auto; }

	.select2-container--default .select2-results__option[role=group] {
	padding: 0; }

	.select2-container--default .select2-results__option[aria-disabled=true] {
	color: #999; }

	.select2-container--default .select2-results__option[aria-selected=true] {
	background-color: #ddd; }

	.select2-container--default .select2-results__option .select2-results__option {
	padding-left: 1em; }
	.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
	 padding-left: 0; }
	.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
	 margin-left: -1em;
	 padding-left: 2em; }
	 .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
	   margin-left: -2em;
	   padding-left: 3em; }
	   .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
		 margin-left: -3em;
		 padding-left: 4em; }
		 .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
		   margin-left: -4em;
		   padding-left: 5em; }
		   .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
			 margin-left: -5em;
			 padding-left: 6em; }

	.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #5897fb;
	color: white; }

	.select2-container--default .select2-results__group {
	cursor: default;
	display: block;
	padding: 6px; }

	.select2-container--classic .select2-selection--single {
	background-color: #f7f7f7;
	border: 1px solid #aaa;
	border-radius: 4px;
	outline: 0;
	background-image: -webkit-linear-gradient(top, white 50%, #eeeeee 100%);
	background-image: -o-linear-gradient(top, white 50%, #eeeeee 100%);
	background-image: linear-gradient(to bottom, white 50%, #eeeeee 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0); }
	.select2-container--classic .select2-selection--single:focus {
	 border: 1px solid #5897fb; }
	.select2-container--classic .select2-selection--single .select2-selection__rendered {
	 color: #444;
	 line-height: 28px; }
	.select2-container--classic .select2-selection--single .select2-selection__clear {
	 cursor: pointer;
	 float: right;
	 font-weight: bold;
	 margin-right: 10px; }
	.select2-container--classic .select2-selection--single .select2-selection__placeholder {
	 color: #999; }
	.select2-container--classic .select2-selection--single .select2-selection__arrow {
	 background-color: #ddd;
	 border: none;
	 border-left: 1px solid #aaa;
	 border-top-right-radius: 4px;
	 border-bottom-right-radius: 4px;
	 height: 26px;
	 position: absolute;
	 top: 1px;
	 right: 1px;
	 width: 20px;
	 background-image: -webkit-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
	 background-image: -o-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
	 background-image: linear-gradient(to bottom, #eeeeee 50%, #cccccc 100%);
	 background-repeat: repeat-x;
	 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0); }
	 .select2-container--classic .select2-selection--single .select2-selection__arrow b {
	   border-color: #888 transparent transparent transparent;
	   border-style: solid;
	   border-width: 5px 4px 0 4px;
	   height: 0;
	   left: 50%;
	   margin-left: -4px;
	   margin-top: -2px;
	   position: absolute;
	   top: 50%;
	   width: 0; }

	.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
	float: left; }

	.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
	border: none;
	border-right: 1px solid #aaa;
	border-radius: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	left: 1px;
	right: auto; }

	.select2-container--classic.select2-container--open .select2-selection--single {
	border: 1px solid #5897fb; }
	.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
	 background: transparent;
	 border: none; }
	 .select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
	   border-color: transparent transparent #888 transparent;
	   border-width: 0 4px 5px 4px; }

	.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
	border-top: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background-image: -webkit-linear-gradient(top, white 0%, #eeeeee 50%);
	background-image: -o-linear-gradient(top, white 0%, #eeeeee 50%);
	background-image: linear-gradient(to bottom, white 0%, #eeeeee 50%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0); }

	.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
	border-bottom: none;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	background-image: -webkit-linear-gradient(top, #eeeeee 50%, white 100%);
	background-image: -o-linear-gradient(top, #eeeeee 50%, white 100%);
	background-image: linear-gradient(to bottom, #eeeeee 50%, white 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0); }

	.select2-container--classic .select2-selection--multiple {
	background-color: white;
	border: 1px solid #aaa;
	border-radius: 4px;
	cursor: text;
	outline: 0; }
	.select2-container--classic .select2-selection--multiple:focus {
	 border: 1px solid #5897fb; }
	.select2-container--classic .select2-selection--multiple .select2-selection__rendered {
	 list-style: none;
	 margin: 0;
	 padding: 0 5px; }
	.select2-container--classic .select2-selection--multiple .select2-selection__clear {
	 display: none; }
	.select2-container--classic .select2-selection--multiple .select2-selection__choice {
	 background-color: #e4e4e4;
	 border: 1px solid #aaa;
	 border-radius: 4px;
	 cursor: default;
	 float: left;
	 margin-right: 5px;
	 margin-top: 5px;
	 padding: 0 5px; }
	.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
	 color: #888;
	 cursor: pointer;
	 display: inline-block;
	 font-weight: bold;
	 margin-right: 2px; }
	 .select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
	   color: #555; }

	.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
	float: right; }

	.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
	margin-left: 5px;
	margin-right: auto; }

	.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
	margin-left: 2px;
	margin-right: auto; }

	.select2-container--classic.select2-container--open .select2-selection--multiple {
	border: 1px solid #5897fb; }

	.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
	border-top: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0; }

	.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
	border-bottom: none;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0; }

	.select2-container--classic .select2-search--dropdown .select2-search__field {
	border: 1px solid #aaa;
	outline: 0; }

	.select2-container--classic .select2-search--inline .select2-search__field {
	outline: 0;
	box-shadow: none; }

	.select2-container--classic .select2-dropdown {
	background-color: white;
	border: 1px solid transparent; }

	.select2-container--classic .select2-dropdown--above {
	border-bottom: none; }

	.select2-container--classic .select2-dropdown--below {
	border-top: none; }

	.select2-container--classic .select2-results > .select2-results__options {
	max-height: 200px;
	overflow-y: auto; }

	.select2-container--classic .select2-results__option[role=group] {
	padding: 0; }

	.select2-container--classic .select2-results__option[aria-disabled=true] {
	color: grey; }

	.select2-container--classic .select2-results__option--highlighted[aria-selected] {
	background-color: #3875d7;
	color: white; }

	.select2-container--classic .select2-results__group {
	cursor: default;
	display: block;
	padding: 6px; }

	.select2-container--classic.select2-container--open .select2-dropdown {
	border-color: #5897fb; }

#task_breaker-project-tasks li.task-members-items-item,
#task_breaker-project-tasks #task_breaker-single-task li.task-members-items-item {
	float: left;
	width: 32px;
	margin: 0;
	padding: 0;
	margin-right: 5px;
	position: relative;
}

#task_breaker-project-tasks li.task-members-items-item {
	float: right;
}

#task_breaker-project-tasks  li.task-members-items-item .avatar,
#task_breaker-single-task  li.task-members-items-item .avatar {
	border-radius: 50%;
	height: auto;
}

.user-assign-members-more span {
	background: #000;
	color: #fff;
	padding-top: 10px;
	height: 32px;
	width: 32px;
	display: block;
	font-size: 12px;
	padding-top: 6px;
	text-align: center;
	border-radius: 50%;
}

#task_breaker-single-task-details ul.task-members-items {
	padding-bottom: 1.2631578947em;
}

/**
 * Added in version 1.3.2
 * New feature in activity stream that shows the comment type of the task.
 */

.task-breaker-task-comment-update .activity-inner span.completed,
.task-breaker-task-comment-update .activity-inner span.reopened,
.task-breaker-task-comment-update .activity-inner span.updated  {
	line-height: 5px;
	padding: 5px 10px;
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	margin-right: 10px;
	border: 1px solid #03A9F4;
	color: #03A9F4;
	text-align: center;
	width: 100px;
	display: inline-block;
	padding: 10px 10px 9px;
}

.task-breaker-task-comment-update .activity-inner span.reopened {
	border: 1px solid #FF9800;
	color: #FF9800;
}

.task-breaker-task-comment-update .activity-inner span.completed {
	border: 1px solid #8BC34A;
	color: #8BC34A;
}

/**
 * Fields
 */
#task_breakerTaskEditTitle,
#task_breakerTaskTitle,
#task_breaker-project-content,
#task_breaker-project-name {
	width: 100%;
	display: block;
	padding: 5px 15px;
	margin-bottom: 0;
	border: 1px solid #ddd;
}

/**
 * Notifications
 */

.task-breaker-message {
    padding: 10px 15px;
    background: #03A9F4;
    color: #fff;
    border-radius: 5px;
    font-size: smaller;
    font-weight: bold;
}

.task-breaker-message a {
	color: #fff;
	text-decoration: underline;
}

.task-breaker-message.danger {
	background: #F44336;
}

#task-breaker-access-project-not-allowed{
	margin-bottom: 20px;
}

#comment-completed-radio .alignleft {
	margin: 0;
	margin-right: 15px;
}

#comment-completed-radio .alignleft  label {
	margin: 0;
}

/*Widgets*/
.taskbreaker_user_recent_tasks .task-breaker-recent-item h5 {
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 0;
}

.taskbreaker_user_recent_tasks .task-breaker-recent-item .date {
	font-size: 12px;
	color: rgba(0, 0, 0, 0.54);
}

.taskbreaker_user_recent_tasks .task-breaker-recent-item {position: relative; margin-left: 20px;}
.taskbreaker_user_recent_tasks .task-priority {
    margin-bottom: 0;
    height: 10px;
    display: inline-block;
    width: 10px;
    padding: 0;
    position: absolute;
    left: -20px;
    top: 7px;
}

/** File Attachment */
.tb-file-attachment-progress-wrap {
    display: none;
    z-index: 2;
    position: relative;
    text-align: center;
    font-size: 12px;
    color: #9E9E9E;
    background: #f9f9f9;
    box-shadow: inset 0px -1px 1px 0px #6b6b6b;
    margin-top: -10px;
    padding: 5px 0 0 0;
}

.taskbreaker-upload-success-text-helper,
.taskbreaker-upload-error-text-helper {
	display: none;
}
.taskbreaker-upload-success-text-helper.active,
.taskbreaker-upload-error-text-helper.active {
	display: inline-block;
}
.tb-file-attachment-progress-wrap.active {
	display: block;
}

.tb-file-attachment-progress {
	height: 5px;
    background: #fff;
    width: 100%;
    overflow: hidden;
}

.tb-file-attachment-progress > .tb-file-attachment-progress-movable {
	height: 5px;
	background: #2196F3;
	width: 0%;
	display: block;
}

.taskbreaker-upload-error {
    color: #ffffff;
    padding: 0px 0;
    background: #FF5722;
}

#task-breaker-form-file-attachment-edit-field,
#task-breaker-form-file-attachment-field {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#task-breaker-form-file-attachment-edit-field + label,
#task-breaker-form-file-attachment-field + label {
    font-weight: 400;
    color: #6d6d6d;
    background-color: #fff;
    display: inline-block;
    cursor: pointer;
    width: 100%;
    padding: 40px 20px 30px 20px;
    text-align: center;
    border: 1px solid #dddddd;
    font-size: 14px;
    background-image: url(../images/ic_attach_file_black_48dp_2x.png);
    outline: none!important;
    background-position: center 15px;
    background-repeat: no-repeat;
    background-size: 20px;
    margin: 0;
}

#task-breaker-form-file-attachment-edit-field:focus + label,
#task-breaker-form-file-attachment-field:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

#task-breaker-form-file-attachment-edit-field:focus + label,
#task-breaker-form-file-attachment-edit-field + label:hover,
#task-breaker-form-file-attachment-field:focus + label,
#task-breaker-form-file-attachment-field + label:hover {
    background-color: #f5f5f5;
}

#taskbreaker-unlink-file-btn {
	position: absolute;
    top: 15px;
    right: 15px;
    z-index: 29;
}	

#taskbreaker-unlink-file-btn a {
	color: #ffffff;
	display: block;
    border-radius: 50%;
    background: #F44336;
    width: 25px;
    text-align: center;
    height: 25px;
}

#taskbreaker-unlink-file-btn a:hover {
	color: #fff;
	background: #ff1100;
}

#taskbreaker-file-attachment {
    background-color: #f5f5f5;
    background-image: url(../images/ic_attach_file_black_48dp_2x.png);
    background-size: 18px;
    background-repeat: no-repeat;
    padding: 10px 15px 10px 35px;
    background-position: 8px 11px;
    border: 2px dashed #eee;
    border-radius: 4px;
    margin-bottom: 15px;
    font-size: 12px;
    font-weight: bold;
}
#taskbreaker-file-attachment  a {
	color: #444;
}
#taskbreaker-file-attachment:hover  a {
	text-decoration: underline;
}
#taskbreaker-project-navigation .page-numbers {
    display: inline-block;
    width: 35px;
    text-align: center;
    height: 35px;
    vertical-align: middle;
    background: #eceff1;
    padding: 5px 5px;
    border-radius: 50%;
}

#taskbreaker-project-navigation .page-numbers:hover,
#taskbreaker-project-navigation .page-numbers.current {
	background-color: #03A9F4;
	color: #fff;
}
/** End file Attachment */

